@{
    ViewData["Title"] = "DownloadSecurities";
}
@using System.Diagnostics.Eventing.Reader
@model Dictionary<int, FinamSecurity>
    <div class="text-center">
        <h3 class="display-4">Скачивание инструмента с сайта финам</h3>

        <form asp-action="DownloadSecurities" asp-controller="Home" asp-antiforgery="true">
            <div>
                <div>
                    <label asp="security"></label>
                    <input asp type="text" name="security_name" value="@ViewBag.SecName" />
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </div>
        </form>
        <select name="security_id" asp-items="@ViewBag.SecuritiesDictionary"></select>

        @if (Model != null && Model.Count() > 0)
        {
            <h3>В списке @Model.Count инструментов</h3>
            @foreach (var sec in Model)
            {
                <p>@sec.Key @sec.Value.Name</p>
            }
        }
        else
        {
            <h3>Уточните поиск, элементы не найдены или их больше 30</h3>
        }
    </div>
